name: 'Publish'

on:
  workflow_dispatch:
    inputs:
      new_version:
        description: 'version type:'
        type: choice
        default: 'minor'
        options:
          - patch
          - minor
          - major
        required: true

run-name: Publish create-vk-mini-app ${{ inputs.new_version }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}

      - name: Setting up the repository environment
        uses: ./.github/actions/setup

      - name: Bump version
        id: updated_versions_info
        uses: ./.github/actions/bump-version
        with:
          version: ${{ github.event.inputs.new_version }}

      - name: Validation
        uses: ./.github/actions/validation

      - name: Complete publish
        uses: ./.github/actions/complete-publish
        with:
          branch: ${{ github.ref }}
          prev_version: ${{ steps.updated_versions_info.outputs.prev_version }}
          next_version: ${{ steps.updated_versions_info.outputs.next_version }}
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
